<div class="header">
    <h3>{{data.title}}</h3>
</div>
<div class="content">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
            <input placeholder="Name" matInput type="text" formControlName="name" autocomplete="off">
            <mat-error formControlOnError="name"></mat-error>
        </mat-form-field>
        <div class="form-actions">
            <button mat-raised-button color="primary" [disabled]="invalid">
                Add
                <mat-icon>add</mat-icon>
            </button>
            <button mat-button type="button" color="warn" (click)="close()">Cancel</button>
        </div>
    </form>
</div>